<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %}</title>
    {% stylesheets 'css/*' filter="cssrewrite" output="css/compiled/style.css"%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% include "partials/header.html.twig" %}
    {% block body %}{% endblock %}

    {%  block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% javascripts 'js/blockadblock.js'
        'js/detecthandler.js' output="js/compiled/detecthandler.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}


{%  include "partials/footer.html.twig" %}



