body{
    background-color: #222226!important;
}
/** ---MEDIA QUERIES------ **/
@media (max-width: 767px) {
    #searchBox{
        height: 100px!important;
        line-height: 50px!important;
    }
    #mainContent {
        margin: 0;
    }
}
@media (max-width: 992px){
    .button-collapse{
        left: 10px;
    }
    #searchIcon{
        right: 10px!important;
    }
}

/** -----------FIN DES MEDIA QUERIES------------- **/

/** --------------HEADER--------------- **/
.navbar-right {
    margin-right: 20px!important;
}
#userIcon{
    width: 30px;
}

/** --------------FIN DU HEADER--------------- **/

/** -------------- SELECT TRI ---------------- **/
#allFilters .reset{
    width: 100%;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #C8C9CA;
    opacity: 1;
}

#tablature, #reset, .form-control{
    margin-bottom: 10px;
}
/** -------------- FIN DU TRI -----------------**/

/** -------------- Main Content HomePage ---------------**/
#mainContent {
    margin: 0 10px;
}
/** --------------- FIN MAIN CONTENT HOMEPAGE ----------**/