body{margin: 0; padding:0;
	background-color:#323232!important;	
	}

.orange{color: orange;font-style: italic;}

@media (max-width: 480px){
	#test2{width: 320px;}
}
@media (max-width: 767px) {
.subtitle{display:none;}
.proposition{border-bottom:none!important;}
.suppr-favoris{	width: 10%!important;}
#tutos-artiste{	width: 100%!important;padding-left: 0;padding-right:0;}
#test2{	width:320px!important;	/*height:100px;*/}
#alert-tablature{	margin-top: 20px!important;}
#content{	margin-top: 40px;}
.suggest{	  font-size: 13px!important;}
.suggestProf{	  font-size: 13px!important;}
#samesong{	font-size: 14px!important;}
#button-center{margin :0!important;}
}

@media (max-width: 992px) {
.subtitle{	display:none;}
#test2{width: 100%;}
}

@media (max-width: 1200px) {
.subtitle{	display:none;}
}

@media (min-width: 1919px) {
.container{	width: 1800px!important;}
}

@media (min-width: 2559px) {
.container{	width: 2450px!important;}
}

@media (min-width: 768px){

.modal-dialog{	min-width: 800px!important;}

}

h1{	text-align: center;	font-family: 'Open sans',sans-serif!important;	font-size: 3.5rem!important;color:#fff!important;margin-bottom: 5px!important;
}
h1.titre{margin-top: 10px!important;margin-bottom: 10px!important;}
h2{	text-align: center;	font-family: 'Open sans',sans-serif!important;font-size: 1.8rem!important;color:#fff!important;margin-top: 0!important;}
h2.artiste{	font-size: 2.2rem!important}
h3.prof{text-align: center;font-family: 'Open sans',sans-serif!important;font-size: 1.6rem!important;color:#FF943A!important;margin-top: 0!important;}
.navbar-right{	margin-right: 20px!important;}
#lientuto{margin:0 auto;width:100%;}
#videotuto{	width:1100px;	margin: 0 auto;}
.panel-body{	padding: 5px!important;}
.title{	color:#F36712!important;font-size: 2.2rem!important;font-family: "Helvetica Neue", sans-serif;}
.subtitle{width: auto;color: white!important;font-family: 'Open sans',sans-serif;font-size: 1.5rem!important;font-style: italic;}
#firstpanel{width:100%;text-decoration: none;}
/*Stylisation des titre panneau accordeon*/
.panel{	border:none!important;}
.panel-heading{	padding: 0!important;background-color: #DDD!important;transition:0.2s;}
.h4style{font-family: 'Open sans',sans-serif;font-size: 1.6rem!important;color:black!important;text-align: center;padding-top: 4px;	padding-bottom: 4px;border-bottom: 2px solid rgb(179, 179, 179);}
.panel-heading:hover{background-color: #AAA!important;cursor:pointer;transition:0.2s;
}
.thumbnail{	margin-bottom: 5px!important;}

/*HR difficulty*/
hr{margin-bottom: 0!important; margin-top: 0!important;}

hr#difficulty-1{border-top: 15px solid #2ECC71!important;}
hr#difficulty-2{border-top: 15px solid #F39C12!important;}
hr#difficulty-3{border-top: 15px solid #9B59B6!important;}
hr#difficulty-4{border-top: 15px solid #E74C3C!important;}
hr#difficulty-5{border-top: 15px solid #642019!important;}
#demo{margin: 0 auto;width: 150px;margin-bottom: 10px;}
.demo{width: 100%!important;}
#tablature{	margin: 0 auto;	margin-top: 20px;width: 160px;}
.title{color:#6BB9F0!important;	font-size: 1.8rem!important;font-weight: bold;}
#test{width:300px;height:600px;margin-top: 105px;}
#test2{	margin: 5px auto;margin-top: 0;width: 728px;}
.diese{	color:white;}

@media (max-width: 992px) { #test{display:none;} #test3{display:none;}}
@media (max-width: 767px) { #test2{/*display:none;*/}}
@media (max-width: 1199px) { #test{display:none;} #test3{display:none;}}

.proposition{font-size: 1.8rem!important;font-weight:bold;color:white!important;padding-top: 10px;padding-bottom: 5px!important;border-bottom:1px solid grey;margin-right: 10px;}
.proposition:hover{	color:rgb(255, 186, 62)!important;border-bottom:1px solid rgb(255, 186, 62);}
.veriflien{color:red;}
#disqus_thread{   background-color: #EAEAEA;  	padding: 15px;  	border-radius: 5px;}
.navbar-bottom{	border-bottom:none!important;border-left:none!important;border-right:none!important;background-color: #222!important;
	margin-bottom: 0!important;	border-top: 1px solid #080808!important;bottom: 0;
}

/*-------------PAGE FAVORIS COMPTE-------------*/

.diffcolor-1{border-top:15px solid #2ECC71;}
.diffcolor-2{border-top:15px solid #F39C12;}
.diffcolor-3{border-top:15px solid #9B59B6;}
.diffcolor-4{border-top:15px solid #E74C3C;}
.diffcolor-5{border-top:15px solid #642019;}
.favoris{background-color: #181818;border-radius: 10px;}
.favoris-bloc{color:#FFF;height: auto;margin-bottom: 30px;background-color: #181818;transition:0.3s;}
.info-fav:hover ul{transition:0.3s;background-color: #EEE;}
.favoris-bloc a{font-size: 1.6rem!important;color:#000!important;line-height: 40px!important;text-decoration: none!important;}

.favoris-bloc span{	height: 25px;line-height: 35px;}
.favoris-bloc ul{margin: 0;padding: 0;}
.favoris-bloc li{list-style: none;line-height: 20px;text-align: center;}
.fav-titre{	/*background-color: rgb(240,240,240);*/	font-weight: bold;	height: 20px;font-size: 1.4rem;}
.fav-artiste{/*background-color: rgb(210,210,210);*/font-size: 1.4rem;height: 20px;}
.fav-prof{background-color: rgb(50,50,50);font-size: 1.4rem;color:#FFF;	height: 20px;margin-bottom: 4px;}
.btn-fav{margin-top: 3px!important;margin-bottom: 3px!important;padding:0px!important;height: 25px!important;width: 30px!important;
	margin-top: 5px!important;}
.ulcolor-1{	background-color: rgb(150, 208, 175);}
.ulcolor-2{	background-color: rgb(247, 215, 165);}
.ulcolor-3{	background-color: rgb(189, 174, 195);}
.ulcolor-4{	background-color: rgb(231, 175, 169);}
.ulcolor-5{	background-color: rgb(150, 122, 119);}
.suppr-favoris{	background-color: rgb(255, 114, 88);border:1px solid #FFF;width: 15%;border-radius: 5px;}
.suppr-favoris:hover{background-color: rgb(199, 57, 31);}
.ul-suppr{background-color: #181818;}
.forgot a{float:right;color:#FFF!important;text-decoration: underline;}
.forgot a:hover{color:rgb(255, 165, 0)!important;}
.clearboth{clear:both;}
.password{margin-bottom: 10px!important;}
.remember{	margin-top: 0!important;}
.remember-me{margin-bottom: 0!important;}
/*Tutos meme genre / Meme prof*/

.suggestcolumn h3{color:#68B9F0;text-align: center;margin-top: 10px!important;}
.suggest{background-color: #E8E8E8;font-family: 'Open sans', sans-serif;font-size: 16px;text-align: left!important;height: 35px;	margin-top: 5px;transition:0.2s;position: relative;	}
.suggest a{	color:#000!important;display:block;width: 100%;line-height: 35px;text-decoration: none!important;}

.blocsuggest{background-color: #E8E8E8;}

.suggest-1{background-color: rgba(46, 204, 113, 0.8);padding-left: 10px;}
.suggest-1:hover{background-color: rgba(46, 204, 113, 1);}
.suggest-2{background-color: rgba(243, 156, 18, 0.8);padding-left: 10px;}
.suggest-2:hover{background-color: rgba(254, 153, 1, 1);}
.suggest-3{	background-color: rgba(155, 89, 182, 0.8);	padding-left: 10px;}
.suggest-3:hover{background-color: rgba(155, 89, 182, 1);}
.suggest-4{background-color: rgba(231, 76, 60, 0.75);padding-left: 10px;}
.suggest-4:hover{background-color: rgba(231, 76, 60, 0.85);}
.suggest-5{background-color: rgba(100, 32, 25, .8);	padding-left: 10px;}
.suggest-5:hover{background-color: rgba(100, 32, 25, 1);}
.suggestProf{background-color: #E8E8E8;text-align: left!important;height: 35px;	margin-top: 5px;transition:0.2s;position:relative;}
.suggestProf a{color:#000!important;display:block;width: 100%;line-height: 35px;text-decoration: none!important;}

.navbar-bottom{height: auto!important;}
#wrongtuto{	color:rgb(255, 55, 8)!important;margin-right:15px!important;font-size:1.5rem!important;float: right!important;}
#wrongtuto:hover{color:rgb(255, 55, 8)!important;text-decoration: underline;}
#wrongproposition{color:rgb(255, 55, 8)!important;font-size:1.5rem!important;float: right!important;margin-top: 20px!important;}
#moreParts{margin-top: 10px;}
#suggestions{padding: 0;border:1px solid black;padding-bottom: 10px;background-color: rgb(29, 29, 29);}
#suggestions .col-md-6{padding-left:5px!important;padding-right: 5px!important;}
/* Commentaire disqus*/
#comments-disqus{margin-top: 20px;}
#comments-disqus h4{color:#FFF;font-family: "Open sans",sans-serif;}
/* Recommandation page proposition*/
#recommandations .modal-content{background-color: rgb(219, 219, 219);}
#recommandations .modal-body li{list-style: none!important;font-family: "Open sans", sans-serif;font-size: 1.6rem;line-height: 22px;}
#recommandations .modal-body p{font-family: "Open sans", sans-serif!important;font-size: 1.6rem!important;line-height: 22px!important;}
#recommandations .reco1{color:rgba(46, 204, 113, 1);font-weight: bold;}
#recommandations .reco2{color:rgba(243, 156, 18, 1);font-weight: bold;}
#recommandations .reco3{color:rgba(155, 89, 182, 1);font-weight: bold;}
#recommandations .reco4{color:rgba(231, 76, 60, 0.85);font-weight: bold;}
#recommandations .reco5{color:rgba(100, 32, 25, .8);font-weight: bold;}
#diffreco{margin:0!important;padding: 0!important;margin-top: 15px!important;padding-left: 15px!important;padding-bottom: 15px!important;background-color: white;border-radius: 10px!important;
}
/*Footer comments*/

.box_comment{padding-left: 10px;padding-right: 10px;margin-top: 30px;}
.box_comment ul{margin:0;padding: 0;}
.box_comment ul li{list-style: none;margin: 0;}
.box_comment ul li.meta{text-align: center;font-size: 14px;margin-bottom: 0px;margin-top: 10px;color:white;font-family: 'Open sans', sans-serif;}
.box_comment ul li.comment_content{padding:0;margin-bottom: 10px;font-size: 14px;font-weight: bold;text-align: center;word-wrap: break-word;}
.box_comment ul li.comment_content a{text-align: center!important;text-align:justify;color: #8CC3FF;text-decoration: none;
font-family: 'Open sans',sans-serif;font-size: 14px;font-weight: 400;}
.box_comment ul li.comment_content a:hover{color:#FFD76F;transition :0.4s;-webkit-transition :0.4s;-moz-transition :0.4s;}


/*ETOILE FAVORIS*/
#favtuto{margin-left: 10px;vertical-align: -5px;color: black;cursor:pointer;font-size: 4rem;	}
.favactive{	color:rgb(255, 213, 0)!important;cursor:auto!important;}

/*Si proposition*/
#haveprop{background-color: #FFA500!important;color: #000!important;}
/*SURVOL lien sociaux*/
#facebookicon{margin-bottom: 20px;}
#facebookicon:hover #face{background-color: #4A6EA9;transition:0.3s;}

.iconlink{display: block;height: 75px;}
#imgfacebook{margin-right: 0!important;float:left;}
#face{display:block;height: 75px;font-size: 2rem;line-height: 75px;color:#FFF;float:left;width: 135px;padding-left: 10px;padding-right: 10px;transition:0.3s;}

#twittericon{margin-bottom: 20px;}
#twittericon:hover #twit{background-color: #62C8F8;transition:0.3s;}
#imgtwitter{margin-right: 0!important;float:left;}
#twit{display:block;height: 75px;font-size: 2rem;line-height: 75px;color:#FFF;float:left;width: 135px;padding-left: 10px;padding-right: 10px;transition:0.3s;}
#botconfirm-prop{color:#FFF;font-size: 1.6rem;text-align: center;margin-bottom: 25px;font-family: 'Open sans', sans-serif;}
#retour-accueil{line-height: 40px;margin-top: -20px;}
#retour-accueil a{margin-left: 15px;font-family: 'Open sans', sans-serif;text-decoration: none;}
#retour-accueil a:hover{color:orange;text-decoration: none;}
#toptuto:hover{color:orange;}
#nbrvues{color:white;margin-bottom: 5px;}
/*Div pour les meme chansons*/

#infotuto{margin-bottom: 5px!important;}
/* Bloc sur les meme chansons d'un meme artiste*/
#samesong{background-color: rgb(31, 31, 31);height:auto;margin-bottom: 0px;border-radius: 3px;font-family: 'Open sans', sans-serif;
	font-size: 16px;}
#samesongh2{	color:#FFF!important;cursor:pointer;padding-top:5px;padding-bottom: 5px;padding-left: 5px;}
#samesongh2:hover{color:rgb(255, 135, 53)!important;}
#samesong ul{margin: 0;padding: 0;padding-bottom: 10px;}
#samesong li{list-style: none;margin-left: 5px;height:20px;font-family: 'Open sans', sans-serif;line-height: 20px;}
#samesong a{color:#FFF!important;}
#samesong a:hover{text-decoration: none;color:#F95500!important;}
.samesongdiff-1{color: rgba(46, 204, 113, 0.8);}
.samesongdiff-2{color: rgba(243, 156, 18, 0.8);}
.samesongdiff-3{color: rgba(155, 89, 182, 0.8);}
.samesongdiff-4{color: rgba(231, 76, 60, 0.75);}
.samesongdiff-5{color: rgba(100, 32, 25, .8);}
/*Description de la video*/
#description{background-color: #fff;border-radius: 5px;}
#rowdescription{height:auto;margin:0 auto;word-break:break-all;-ms-word-break:break-all;-o-word-break:break-all;}
#texte-description h4{text-align: center!important;	margin-top: 0!important;margin-bottom: 0!important;}
#texte-description{border-radius: 5px;padding:5px;background-color: #fff;height: auto;overflow: hidden;	/*height:auto;*/font-family: 'Open sans',sans-serif;}
#content-description{margin-top: 10px;}
#afficherplus{cursor:pointer;}
.sep-description{border:1px solid #CDCDCD!important;}
#blockquote{background-color: #cecece;border-radius: 10px;margin-top: 20px;color:black;}

/*Div qui s'affiche sur la gauche tuto artiste*/
#tutos-artiste{background-color: rgb(36,36,36);position:absolute;width:450px;height: 100%;left: 0px;top: 0px;bottom: 20px;padding-left: 10px;padding-right:10px;z-index:2000;overflow-y:auto;transition-duration:0.3s;-webkit-transform:translateX(-100%);	-o-transform:translateX(-100%);	-ms-transform:translateX(-100%);-moz-transform:translateX(-100%);/*padding-top: 20px;*/	}
.menu-open{	transform:translateX(0px)!important;-webkit-transform: translateX(0px)!important;-o-transform:translateX(0px)!important;
	-ms-transform:translateX(0px)!important;-moz-transform:translateX(0px)!important;}

#artiste-active{font-size: 2.5rem!important;cursor:pointer;	color:rgb(255, 135, 53)!important;font-weight: bold;transition:0.2s;}
#artiste-active:hover{color:rgb(243, 156, 18)!important;transition:0.2s;}
#pagecontainer{position:relative;margin-top: -20px;}
#closure-artiste{font-size: 2.8rem;font-weight: normal;margin-left: 20px;cursor:pointer;}
#closure-artiste:hover{	color:orange;}
/*Alignement a gauche*/

#tutos-artiste .suggest{text-align: left!important;}
#tutos-artiste .suggest-1{padding-left: 10px;}
#tutos-artiste .suggest-2{padding-left: 10px;}
#tutos-artiste .suggest-3{padding-left: 10px;}
#tutos-artiste .suggest-4{padding-left: 10px;}
#tutos-artiste .suggest-5{padding-left: 10px;}

#alert-tablature{width:260px;margin:0 auto;	margin-top: 20px;text-align:center;}
#countsocial{margin-left: 10px;	margin-right: 10px;font-family: 'Open sans', sans-serif;font-size: 16px;font-weight: bold;color:white;
}
#img-icones{float: left;}
.iconshare{width: 35px;	transition:0.2s;}
.iconshare:hover{transition:0.2s;transform:translateY(-3px);-ms-transform:translateY(-3px);}
#flashfavoris{margin-top: 0!important;margin-bottom: 5px!important;}
#content-artiste{margin-bottom: 10px!important;}
/*Flags dans chansons d'un meme artiste*/

.flag img{ display: inline-block; width: 20px; float: right; position: absolute; top: 11px; right: 10px;}
#social{margin-bottom: 20px;}

/*Modal pour la démo*/
.modal-header{padding-bottom: 19px!important;padding-top: 5px!important;}
.modal-header .fermer{font-size: 18px!important;}

/* Formulaire proposition*/

#form-container{font-family: 'Open sans', sans-serif;font-size: 16px;}
.navbar{border:none!important;}

/*Page inscription*/
#inscription-message{font-size: 16px;font-family: 'Open sans', sans-serif;color:white;text-align: center;line-height: 22px;	margin-bottom: 20px;}
#inscription-message strong{
	color:orange;
}
/* lien inscription header*/
#inscription-link{font-weight: bold;font-size: 16px;color:orange;}
#inscription-link:hover{color: #6BB9F0;}

/* Test pour le memo page tuto*/
#memoform{
	position:relative;
	margin-bottom: 10px;
}
#memoform textarea{	
	font-family: 'Open sans',sans-serif;
	color:#2A2A2A!important;
	font-size: 16px;
	/*font-weight: bold;*/
}
#button-center{
	margin: 0 auto;
	width: 215px;
}
#memotext{		
	min-height: 200px;
	max-width: 100%;
	margin-bottom: 5px;
}
#memo_icon{
	color:white;margin-left:20px;font-size:20px;cursor:pointer;vertical-align: -3px;
}
.has-memo{
	color:orange!important;
}
#remainCaracteres{
	text-align: right;
	color:white;
	position: absolute;
	bottom: 8px;
	right: 10px;
}

#memo_icon:hover{
	color:#6BB9F0!important;
}
/*Badge proposition et style pseudo*/
#pseudo_menu{color: orange; font-family: 'Open sans';font-weight: bold;}
#pseudo_menu .badge{background-color:rgb(255, 107, 0);}

/*menu shoutbox*/
#menu_shoutbox a{color:rgb(107, 185, 240);font-weight: bold;font-size: 18px;}
#menu_shoutbox a:hover{color:orange;}

#otherParts{display: none;}

.btn-tablature{background-color: #FFA500;border-color:#FF7E00;color:#FFF;  border-radius: 0!important;}
.btn-tablature:hover{background-color:#FF9100; border-color:#FF9100;color:#FFF!important;}
/*Proposition de tablature*/
 #prop-tablature{
 	border-radius: 0;
 	margin-top: 20px;
 	background-color: #424242;
 	border-color: #222222;
 	color:#FFF;
 	font-size: 14px;
 }
 #prop-tablature:hover{
 	background-color: #606060;
 }
 #tab-container{
 	width: 160px;
 	margin: 0 auto;
 }
 #error_upload{margin-top: 10px;}
 .up_error_msg{color:red}
 .up_success_msg{color:green;}

/*Liste des tablatures*/
#liste_tab{background-color: #E8E8E8; padding: 5px 0;border-radius: 5px;margin-top: 20px;}
#titre_membre{text-align: center;}
#loader_tab{width: 50px;padding-top: 15px;display:none;}