html{
    min-height: 100%;
    height: 100%;

}
body{
    background-color: #222226!important;
    width: 100%;
    height: 100%;
}
/** ---MEDIA QUERIES------ **/
@media (max-width: 767px) {
    #logo{
        margin-top: 13px!important;
    }
    .logoToHide{
        display:none;
    }
    #searchButton{
        top: 0px!important;
        left: 75px!important;
    }
    #searchBlock{
        top: 78px!important;
    }
    #search{
        font-size: 18px!important;
    }
    .tt-dataset {
        min-width: 250px;
        width: 100%!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    #mainContent {
        margin: 0;
    }
    #tutoContainer{
        margin: 0!important;
    }
    .tutoVignette{
        padding: 0;
    }
    #menuHamburger{
        display: block!important;
    }
    #leftSidebar{
        width: 100%!important;
        z-index: 2500;
        top:0;
        float: none!important;
        background-color: #222226;
        transition-duration:0.3s;
        overflow-y: scroll;
        -webkit-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        -ms-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
    }
    #leftSidebar .row{
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }
    #allFilters{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #closeFiltre{
        vertical-align: -4px;
        font-size: 40px;
        margin-left: 30px;
        display:inline-block!important;
    }
    #closeFiltre:hover{
        color:orange;
    }
    .tutoVignette {
        margin-top: 65px;
    }
    .tutoVignette .thumbnail{
        border: none!important;
    }
    .tutoVignette .vignette{
        display: none!important;
    }
    .tutoVignette .info .titre{
        background-color: rgba(0,0,0,0.65)!important;
    }
    .tutoVignette .info .artiste{
        background-color: rgba(0,0,0,0.65)!important;
    }
    .tutoVignette .info .prof{
        background-color: rgba(0,0,0,0.65)!important;
    }
    .flag{
        top:-20px!important;
    }
    #testTop{
        margin-bottom: 0px!important;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .button-collapse{
        left: 10px;
    }
    #searchIcon{
        width: 28px!important;
        right: 10px!important;
    }

    /** TEST **/
    #searchBlock{
        top: 62px!important;
    }
    #menuHamburger{
        display: block!important;
        top:5px!important;
        margin-left: 0!important;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    #leftSidebar{
        width: 350px!important;
        margin-top: 62px!important;
        z-index: 2500;
        top:0;
        float: none!important;
        background-color: #222226;
        transition-duration:0.3s;
        overflow-y: scroll;
        transform: translateX(-100%);
        -webkit-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        -ms-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
    }
    #leftSidebar .row{
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }
    #allFilters{
        padding-left: 0!important;
    }
    #closeFiltre{
        vertical-align: -4px;
        font-size: 40px;
        margin-left: 30px;
        display:inline-block!important;
    }
    #closeFiltre:hover{
        color:orange;
    }
    .logoToHide{
        display:none;
    }
    #tutoContainer{
        margin: 0!important;
        transition-duration:0.3s;
    }
    #searchButton{
        top: 5px!important;
        left:75px!important;
        padding: 10px 11px!important;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
}

/** -----------FIN DES MEDIA QUERIES------------- **/

/** --------------HEADER--------------- **/
.navbar{
    background-color: #222226!important;
    border-bottom: 2px solid orange;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#FFA500!important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #FFA500!important;
}
.navbar-right {
    margin-right: 20px!important;
}
.filtresOpen{
    transform:translateX(0px)!important;
    -webkit-transform: translateX(0px)!important;
    -o-transform:translateX(0px)!important;
    -ms-transform:translateX(0px)!important;
    -moz-transform:translateX(0px)!important;
}
#logo{
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
}
#userIcon{
    width: 30px;
}
#searchButton{
    position: absolute;
    top: -8px;
    left: 90px;
    margin-right: 15px;
    margin-top: 13px;
    padding: 9px 10px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: #1a242f;
    border-radius: 4px;
}
#searchIcon{
    width:28px;
}
#searchButton:hover{
    background-color: rgb(255, 165, 0);
}
#menuHamburger{
    position: relative;
    float: left;
    margin-left: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: #1a242f;
    border-radius: 4px;
    display: none;
}
#menuHamburger:focus, #menuHamburger:hover{
    outline-width: 0;
    background-color: rgb(255, 165, 0);
}
#iconHamburger{
    width: 30px;
}
/** --------------FIN DU HEADER--------------- **/

/** -------------- FOOTER -------------------- **/
#footer{
    width: 100%;
    z-index: 3000;
    height: 30px;
    background-color: #1A1A1D;
    line-height: 30px;
    padding-left: 10px;
    font-size: 1.5rem;
    color:white;
}
/** -------------- FIN DU FOOTER ------------- **/

/** -------------- SELECT TRI ---------------- **/
#allFilters{
    padding-left: 10px;
    padding-right: 10px;
}
#searchBlock{
    position: absolute;
    display: none;
    width: 100%;
    top: 62px;
    height: 150px;
    z-index: 2000;
    background: #607D8B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(68, 58, 41), #222226); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(68, 58, 41), #222226); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(68, 58, 41), #222226); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(68, 58, 41), #222226); /* Standard syntax */
}
#search{
    border:none;
    border-radius: 0;
    font-size: 26px;
    font-weight: bold;
}
.twitter-typeahead{width: 100%;}
.tt-dataset{
    background-color: #ffffff;
    padding-top: 10px;
    color: black;
    width: 400px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.tt-suggestion{
    color:black
}
.tt-selectable{
    color:black
}
h5{
    color:orange;
    font-size: 22px;
    font-weight: bold;
}
#containerBlock{
    margin-top: 35px;
}
#allFilters .reset{
    width: 100%;
}
#leftSidebar h1{
    margin-top: 5px;
    text-align: center;
    color: white;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #C8C9CA;
    opacity: 1;
}
#searchTop{
    width: 100%;
    margin-bottom: 10px;
}
#selectTypetuto{
    background-color:#FFAE00;
}

#tablature, #reset, .form-control{
    margin-bottom: 10px;
}
#icon-info{
    color: orange;
    font-size: 20px;
    line-height: 38px;
}
/** -------------- FIN DU TRI -----------------**/

/** -------------- Main Content HomePage ---------------**/
/*PUB*/
#testTop{
    width: 280px;
    height: 90px;
    background-color: darkgrey;
    margin: 0 auto;
    margin-bottom: 20px;
}

#wrapper{
    padding-top: 84px;
    min-height: 100%;
    margin-bottom: -30px;
}
#mainContent {
    /*padding-top: 84px;*/
    position: relative;
    /*height: 100%;*/
    /*min-height: 100%;*/
}
#itemContainer{
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    transition-duration: 0.3s;
}

#leftSidebar {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 78px;
    top: 0;
    bottom: 0;
    width: 275px;
    float: left;
}
#closeFiltre {
    display: none;
}

#tutoContainer {
    position: relative;
    margin-left: 275px;
    padding: 0;
    margin-bottom: 100px;
}
#loader{
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    width: 60px;
}

/*Vignette*/
.flag{
    position: absolute;
    top: 6px;
    z-index: 2;
    right: 20px;
    width: 35px;
}
.tutoVignette{
    position: relative;
}

.tutoVignette .thumbnail{
    position: relative;
    padding: 0;
    border-radius: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
}
.tutoVignette .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tutoVignette .info li{
    list-style: none;
    text-align: center;
}
.tutoVignette .info .fonce-1{
    background-color: #2ECC71;
    height: 8px;
}
.tutoVignette .info .fonce-2{
    background-color: #F39C12;
    height: 8px;
}
.tutoVignette .info .fonce-3{
    background-color: #9B59B6;
    height: 8px;
}
.tutoVignette .info .fonce-4{
    background-color: #E74C3C;
    height: 8px;
}
.tutoVignette .info .fonce-5{
    background-color: #642019;
    height: 8px;
}
.tutoVignette .info .titre{
    color:orange;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    font-weight: bold;
    font-size: 1.5rem;
}
.tutoVignette .info .artiste{
    color: white;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 1.4rem;
}
.tutoVignette .info .prof {
    color: #dddeee;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 1.3rem;
}
#pagination{
    margin-bottom: 40px;
}
#seeMore{
    display: none;
}
#loadingMore{
    display: none;
}

/** --------------- FIN MAIN CONTENT HOMEPAGE ----------**/

/** --------------- PAGE LOGIN --------------------------**/
#authContent{
    margin-bottom: -30px;
    height: 100%;
}
#loginContent{
    height: 100%;
    /*padding-top: 84px;*/
    padding-bottom: 60px;
}
#loginContent h1{
    text-align: center;
    color: white;
}
#loginContent label{
    color: white;
}
#loginContent .btn{
    margin-bottom: 20px;
}

/**------------------FIN PAGE LOGIN ---------------------**/

/** --------------- PAGE REGISTER --------------------------**/
@media (max-width: 767px) {
    #registerContent h4{
        font-size: 16px;
        line-height: 22px;
    }
}
#registerContent {
    height: 100%;
    color:white;
}
#registerContent h1{
    text-align: center;
    margin-bottom: 20px;
}
#registerContent h4{
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
}
#registerContent strong{
    color:orange;
}
#registerContent label{
    font-size: 1.6rem;
    font-weight: 700;
}
#registerContent small{
    font-weight: bold;
}
#registerContent label:after{
    content: " *";
    color:#F44336;
}
#registerContent .has-error ul, .has-error li{
    list-style: none;
    margin: 0;
    padding: 0;
    color:#F44336;
}
#registerContent ul, .liSuccess{
    margin: 0;
    padding: 0;
    color:#8BC34A
}
#registerContent .btn{
    margin-bottom: 60px;
}
#checkMailContent {
    text-align: center;
}
#checkMailContent h1{
    color: white;
    font-size: 2.8rem;
}
#checkMailContent h2{
    color: orange;
    font-size: 2.1rem;
}
/**------------------FIN PAGE REGISTER ---------------------**/