body{
    background-color: #222226!important;
    width: 100%;
}
/** ---MEDIA QUERIES------ **/
@media (max-width: 767px) {
    #logo{
        margin-top: 13px!important;
    }
    .logoToHide{
        display:none;
    }
    #searchButton{
        top: 0px!important;
    }
    #searchBlock{
        top: 76px!important;
    }
    .tt-dataset {
        width: 100%!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    #mainContent {
        margin: 0;
    }
    #tutoContainer{
        margin: 0!important;
    }
    .tutoVignette{
        padding: 0;
    }
    #menuHamburger{
        display: block!important;
    }
    #leftSidebar{
        width: 100%!important;
        z-index: 2500;
        top:0;
        float: none!important;
        background-color: #222226;
        transition-duration:0.3s;
        overflow-y: scroll;
        -webkit-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        -ms-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
    }
    #leftSidebar .row{
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }
    #closeFiltre{
        vertical-align: -4px;
        font-size: 40px;
        margin-left: 30px;
        display:inline-block!important;
    }
    #closeFiltre:hover{
        color:orange;
    }
    .tutoVignette {
        margin-top: 65px;
    }
    .tutoVignette .thumbnail{
        border: none!important;
    }
    .tutoVignette .vignette{
        display: none!important;
    }
    .tutoVignette .info .titre{
        background-color: rgba(0,0,0,0.65)!important;
    }
    .tutoVignette .info .artiste{
        background-color: rgba(0,0,0,0.65)!important;
    }
    .tutoVignette .info .prof{
        background-color: rgba(0,0,0,0.65)!important;
    }
    .flag{
        top:-20px!important;
    }
}
@media (max-width: 992px){
    .button-collapse{
        left: 10px;
    }
    #searchIcon{
        right: 10px!important;
    }
}

/** -----------FIN DES MEDIA QUERIES------------- **/

/** --------------HEADER--------------- **/
.navbar{
    background-color: #607D8B!important;
}
.navbar-right {
    margin-right: 20px!important;
}
.filtresOpen{
    transform:translateX(0px)!important;
    -webkit-transform: translateX(0px)!important;
    -o-transform:translateX(0px)!important;
    -ms-transform:translateX(0px)!important;
    -moz-transform:translateX(0px)!important;
}
#logo{
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
}
#userIcon{
    width: 30px;
}
#searchButton{
    position: absolute;
    top: -8px;
    left: 90px;
    margin-right: 15px;
    margin-top: 13px;
    padding: 9px 10px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: #1a242f;
    border-radius: 4px;
}
#searchIcon{
    width:30px;
}
#searchButton:hover{
    background-color: #1a242f;
}
#menuHamburger{
    position: relative;
    float: left;
    margin-left: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: #1a242f;
    border-radius: 4px;
    display: none;
}
#menuHamburger:focus, #menuHamburger:hover{
    outline-width: 0;
    background-color: #1a242f;
}
#iconHamburger{
    width: 30px;
}
/** --------------FIN DU HEADER--------------- **/

/** -------------- SELECT TRI ---------------- **/
#searchBlock{
    position: absolute;
    display: none;
    width: 100%;
    top: 60px;
    height: 150px;
    z-index: 2000;
    background: #607D8B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#607D8B, #222226); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#607D8B, #222226); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#607D8B, #222226); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#607D8B, #222226); /* Standard syntax */
}
#search{
    border:none;
    border-radius: 0;
}
.twitter-typeahead{width: 100%;}
.tt-dataset{
    background-color: #ffffff;
    padding-top: 10px;
    color: black;
    width: 400px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.tt-suggestion{
    color:black
}
.tt-selectable{
    color:black
}
h5{
    color:orange;
    font-size: 22px;
    font-weight: bold;
}
#containerBlock{
    margin-top: 35px;
}
#allFilters .reset{
    width: 100%;
}
#leftSidebar h1{
    margin-top: 5px;
    text-align: center;
    color: white;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #C8C9CA;
    opacity: 1;
}
#searchTop{
    width: 100%;
    margin-bottom: 10px;
}
#selectTypetuto{
    background-color:#FFAE00;
}

#tablature, #reset, .form-control{
    margin-bottom: 10px;
}
#icon-info{
    color: orange;
    font-size: 20px;
    line-height: 38px;
}
/** -------------- FIN DU TRI -----------------**/

/** -------------- Main Content HomePage ---------------**/
#mainContent {
    padding-top: 84px;
    position: relative;
    /*height: 100%;*/
    /*min-height: 100%;*/
}
#itemContainer{
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

#leftSidebar {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 80px;
    top: 0;
    bottom: 0;
    width: 275px;
    float: left;
}
#closeFiltre {
    display: none;
}

#tutoContainer {
    position: relative;
    margin-left: 275px;
    padding: 0;
    margin-bottom: 100px;
}
#loader{
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    width: 60px;
}

/*Vignette*/
.flag{
    position: absolute;
    top: 6px;
    z-index: 2;
    right: 20px;
    width: 35px;
}
.tutoVignette{
    position: relative;
}

.tutoVignette .thumbnail{
    position: relative;
    padding: 0;
    border-radius: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
}
.tutoVignette .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tutoVignette .info li{
    list-style: none;
    text-align: center;
}
.tutoVignette .info .fonce-1{
    background-color: #2ECC71;
    height: 8px;
}
.tutoVignette .info .fonce-2{
    background-color: #F39C12;
    height: 8px;
}
.tutoVignette .info .fonce-3{
    background-color: #9B59B6;
    height: 8px;
}
.tutoVignette .info .fonce-4{
    background-color: #E74C3C;
    height: 8px;
}
.tutoVignette .info .fonce-5{
    background-color: #642019;
    height: 8px;
}
.tutoVignette .info .titre{
    color:orange;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    font-weight: bold;
    font-size: 1.5rem;
}
.tutoVignette .info .artiste{
    color: white;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 1.4rem;
}
.tutoVignette .info .prof {
    color: #dddeee;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    font-size: 1.3rem;
}
#seeMore{
    display: none;
}
#loadingMore{
    display: none;
}
/** --------------- FIN MAIN CONTENT HOMEPAGE ----------**/

/** --------------- PAGE LOGIN --------------------------**/

#loginContent{
    padding-top: 84px;
}
#loginContent h1{
    text-align: center;
    color: white;
}
#loginContent label{
    color: white;
}

/**------------------FIN PAGE LOGIN ---------------------**/