{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">
    <!-- Message de connexion -->

    <div class="row" id="legende">
        {% image '@CoursdeGratteBundle/Resources/public/images/difficultelegende.png' %}
        <img class="img-responsive" src="{{ asset_url }}" alt="legende" />
        {% endimage %}
    </div>

    <div class="collapse navbar-collapse navHeaderCollapse">
        <div class="container">

            <div class="row">
                <div class="container">
                    <div class="row"><!-- Row de la recherche -->
                        <div class="col-md-8 col-md-offset-2">
                            <div class="input-group input-group-lg" id="searchTop">
                                <input id="search" class="form-control" type="text" name="search" aria-describedby="sizing-addon1" placeholder="Rechercher Artiste / Chanson / Prof" data-provide="typeahead" autocomplete="off">
                                <span class="input-group-addon pushsearch" id="sizing-addon1"><i class="glyphicon glyphicon-search "></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 id = "filtreEvent">Plus de Filtres <i class="glyphicon glyphicon-plus" id="plusFiltre"> </i></h4>



        <div id="allFilters">
            <div class="row" id="typetuto"><!-- SELECTION DU TYPE DE TUTO -->
                <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
                    <select class="form-control" id="selectTypetuto">
                        <option selected="selected" value = "Tous types de tutos">Tous types de tutos</option>
                        <option value = "1">Tutos Chansons</option>
                        <option value = "2">Tutos Divers</option>
                    </select>
                </div>
            </div>

            <div class="row filtre"> <!-- Rangé ou sont placé tous les SELECTS -->

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="selectDifficulty">
                        <option value="Toutes les difficultés">Toutes les difficultés</option>
                        <option class="optiondiff-1" value ="1">Très Facile</option>
                        <option class="optiondiff-2" value ="2">Facile</option>
                        <option class="optiondiff-3" value ="3">Moyen</option>
                        <option class="optiondiff-4" value ="4">Difficile</option>
                        <option class="optiondiff-5" value ="5">Très Difficile</option>
                    </select>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="selectStyle">
                        <option selected="selected" value="Tous les styles">Tous les styles</option>
                        <option class="resultstyle"></option>
                    </select>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="selectProf" name="Prof">
                        <option selected="selected" value ="Tous les profs">Tous les profs</option>
                        <option class="resultprof"></option>
                    </select>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="selectTypeguitare">
                        <option selected="selected" value ="Tous types de guitares">Tous types de Guitares</option>
                        <option value ="1">Acoustique</option>
                        <option value ="2">Electrique</option>
                        <option value ="3">Acoustique et Electrique</option>
                        <option value ="4">Ukulélé</option>
                    </select>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="selectTypejeu">
                        <option selected ="selected" value = "Tous types de jeux">Tous types de jeu</option>
                        <?php  foreach ($typesjeu as $typejeu) : ?>
                        <option value="<?= $typejeu->id;?>"><?= $typejeu->typejeu; ?></option>
                        <?php endforeach ?>
                    </select>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" id="selectLangue">

                        <!-- REFAIRE LA CONDITION POUR LA VALEUR DE LA LANGUE PAR DEFAUT DANS SESSION USER -->
                        <?php if($langueDefault){ ?>
                        <option selected="selected" value = "<?= $langueDefault->id ;?>"><?= $langueDefault->langue; ?></option>
                        <?php }else{ ?>

                        <option selected="selected" value = "Toutes les langues">Toutes les langues</option>
                        <?php  foreach($langues as $langue): ?>
                        <option value="<?= $langue->id; ?>"><?= $langue->langue; ?></option>
                        <?php endforeach; ?>
                        <?php } ?>

                    </select>
                </div>
            </div>

            <div class="row">
                <div id="tablature">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="input-group">
								<span class="input-group-addon">
								    <input type="checkbox" id="selectTab" name="selectTab" value="1">
								</span>
                            <span class="form-control"><label for="selectTab">Avec Tablature</label></span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-2 -->
                </div>

                <div id="reset">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 ">
                        <button class="btn btn-danger reset">Reset</button>
                    </div><!-- /.col-lg-2 -->
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="test" style="margin-top:20px;">
                    <!-- coursdegratteindex -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-3454351586230562"
                         data-ad-slot="5160402008">
                    </ins>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
            </div>
        </div>

    </div> <!-- DIV FERMANTE DU HEADER ( POUR AVOIR LE SECOND MENU RESPONSIVE) -->

    <div class="row">
        <div class="col-lg-12">

            <div id="partage">
                <!--
                <span><strong style="color:orange;font-size:2.4rem">##</strong> Vous trouvez ce site utile et voulez qu'il se développe ? Pensez à le partager et proposer des tutos ;) <strong style="color:orange;font-size:2.4rem">##</strong>

                </span>-->
                <a href="https://play.google.com/store/apps/details?id=app.ipsaous.com.coursdegratte" target="_blank"><img class="img-responsive center-block" id="app_android" src="<?= WEBROOT; ?>public/images/banniereandroid2.jpg"/></a>

            </div>
        </div>
    </div>

    <div class="row" id="choice">
        <div class="col-lg-6">
            <span id="options">Sélection : </span>
            <span class="options" id="optiondifficulty"></span>
            <span class="options" id="optionprof"></span>
            <span class="options" id="optionstyle"></span>
            <span class="options" id="optiontypesguitares"></span>
            <span class="options" id="optiontypesjeu"></span>
            <span class="options" id="optionlangue"></span>
            <span class="options" id="optiontablature"></span>
        </div>
    </div>
    <!-- Affichage message favoris -->
    <!-- LOADER MESSAGE FAVORIS -->
    <!-- Modalfavoris -->
    <div class="modal fade" id="favModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="msgFav">
                    <span id="messageFav"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!-- AFFICHAGE DES RESULTATS -->
    <div class="row resultats">

        <!-- Div pas de resultats-->
        <div class="noresult" style="display:none">
            <p>Pas de résultats</p>
            <p>Vous aurez peut-être plus de résultats en enlevant quelques filtres ;)</p>
        </div>

        <!-- LOADER -->
        <span id="loading"><img src="public/images/ajax-loader.gif" alt="loader"></span>
        <ul id="itemContainer"></ul >
    </div>

    <!-- PAGINATION -->
    <div class="row" id="pagination">
        <div class="text-center">
            <div class="pagination">
                <button class="btn btn-default" style="display:none" id="seemore">Afficher plus</button>
                <span id="loadingmore"><img src="public/images/ajax-loader.gif" alt="loader"></span>
            </div>
        </div>
    </div>

{% endblock %}
