{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<style>
    #formContainer{
        padding-top: 84px;
    }
</style>
<div id="formContainer">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
